.container
  .row
    .col
      %h3 My advertisements
    .col 
      .float-end
        = link_to 'New Ad', new_advertisement_path, class: 'btn btn-success'

- @advertisements.each do |advertisement|
  .card
    .card-body
      .container
        .row 
          .col
            = advertisement.content
          .col
            Place for picture
      = link_to 'Show', advertisement_path(advertisement), class: "btn btn-info"
      = link_to 'Edit', edit_advertisement_path(advertisement), class: "btn btn-warning"
      = link_to 'Delete', advertisement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
  %br



